// Color system
//$gray-100: #f8f9fa !default;
//$gray-200: #e9ecef !default;
$gray-300: #333;
//$gray-400: #ced4da !default;
$gray-500: #505050;
$gray-600: #666;
$gray-700: #777;
$gray-800: #8c8c8c;
$gray-900: #999;

$blue:    #007bff ;
$indigo:  #6610f2 ;
$purple:  #6f42c1 ;
$pink:    #e83e8c ;
$red:     #dc3545 ;
$orange:  #fd7e14 ;
$yellow:  #ffc107 ;
$green:   #28a745 ;
$teal:    #20c997 ;
$cyan:    #17a2b8 ;


$theme-colors: (
primary: $gray-700,
secondary: $gray-600,
success: $green,
warning: $yellow,
danger: $red,
light: $gray-900,
dark: $gray-500
);


$bottom-footer-color: #7c7c7c;

// Options
$enable-rounded: false;
// Spacing
// Body
$body-bg:       #e9ebee;
$body-color:    $gray-600;
// Links
$link-hover-decoration: none;
// Grid breakpoints

$grid-breakpoints: (
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1280px
);

// Grid containers
$container-max-widths: (
sm: 540px,
md: 720px,
lg: 960px,
xl: 1204px
);
// Grid columns
// Fonts
$font-family-sans-serif: 'Open Sans', sans-serif;

$headings-font-weight: 400;

$h3-font-size: rem(16px);
$h4-font-size: rem(15px);
$h5-font-size: 1rem;
$h6-font-size: 1rem;

// Components
// Tables
// Buttons
$input-btn-padding-y:.4rem;
// Forms
// Dropdowns
// Z-index master list
// Navs
// Navbar
// Pagination
// Jumbotron
// Form states and alerts
// Cards
// Tooltips
// Popovers
// Badges
$badge-font-size:             79%;
$badge-font-weight:           400;
$badge-padding-y:             rem(5px);
$badge-padding-x:             rem(10px);
// Modals
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close
// Code
