@import "variables";
@import "bootstrap";
html{
    font-size: 14px;
}
/*Forms*/
.w-border{
    border: 1px solid $white;
}
.btn:hover{
    cursor: pointer;
}
.btn-lg{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}
.btn-sm{
    border-radius: 5px;
    font-size: 1rem;
    padding: rem(0 24px);
}

/* Header */
.site-header{
    background-color: $gray-700;
    border-bottom: 1px solid $white;
    color: $white;
    a{
	color: $white;
	@include hover-focus {
	    color: darken($white, 15%);
	}
    }
    &.home{
	.row{
	    justify-content: space-between;
	}
	.left{
	    @include media-breakpoint-up(md) {
		display: flex;
		align-self: center;
	    }
	    @include media-breakpoint-down(md) {
		justify-content: center;
		margin-top: 10px;
	    }
	    @include media-breakpoint-down(sm) {
		text-align: center;
	    }
	    .logo{
		@include media-breakpoint-up(md) {
		    padding-right: 4%;
		    border-right: 1px solid $white;
		}
		a{
		    font-weight: 300;
		    font-size: rem(33px);
		    strong{
			font-weight: 800;
		    }
		}
	    }
	    .description{
		align-self: center;
		font-size: rem(19px);
		font-weight: 300;
		font-style: italic;
		@include media-breakpoint-up(md) {
		    padding-left: 4%;
		}
	    }
	}
	.right{
	    .form-row{
		padding: rem(14px 0 3px);
		font-weight: 300;
	    }
	    .form-group{
		margin-bottom: 8px;
	    }
	}
    }
    .navbar{
	padding: 0;
	@include media-breakpoint-down(md) {

	}
	.logo{
	    a{
		font-weight: 300;
		font-size: rem(33px);
		strong{
		    font-weight: 800;
		}
	    }
	}
	.search{
	    @include media-breakpoint-up(md) {
		width: 100%;
		padding: 8px 2%;
		margin: 16px 2%;
		border-right: 1px solid $white;
		border-left: 1px solid $white;
	    }
	    .input-group{
		.input-group-addon{
		    border-color: $white;
		    background-color: $white;
		}
		.form-control{
		    border-color: $white;
		    padding-left: 0;
		}
	    }
	}
	@include media-breakpoint-up(sm){
	    .navbar-collapse {
		flex-basis: auto;
	    }
	}
	@include media-breakpoint-down(sm){
	    .navbar-collapse {
		flex: 0 0 100%;
		padding-bottom: 15px;
	    }
	}
	.navbar-nav{
	    @include media-breakpoint-up(md) {
		.nav-item + .nav-item{
		    .nav-link:before{
			content: '';
			height: 14px;
			width: 1px;
			background-color: $white;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		    }
		}
	    }
	    .nav-link{
		position: relative;
		font-size: rem(17px);
		padding-right: rem(17px);
		padding-left: rem(17px);
		color: $white;
		@include hover-focus {
		    color: darken($white, 15%);
		}
		.badge{
		    position: absolute;
		    color: #456e8b;
		    background-color: $white;
		    font-weight: 400;
		    top:  rem(-5px);
		    right: rem(17px);
		    padding: 2px;
		}
	    }
	    .dropdown-toggle{
		padding-right: rem(30px);
		&:after{
		    position: absolute;
		    right: 10px;
		    top: 50%;
		}
	    }
	    .dropdown-menu{
		background-color: $gray-700;
		.dropdown-item:focus, .dropdown-item:hover {
		    background-color:$gray-700;
		}
	    }
	}
    }
}
/* Login screen */
.login-screen{
    background: url(./images/login-screen.jpg) top center no-repeat;
    background-size: cover;
    @include media-breakpoint-up(xl) {
	min-height: 750px;
	padding-top: 100px;
    }
    @include media-breakpoint-down(lg) {
	padding: rem(50px 0);
    }
    @include media-breakpoint-up(md) {
	.slogan{
	    order: 2;
	    padding-left: 5%;
	}
	.register-form{
	    order: 1;
	}
    }
    .form-wrp{
	background-color: $gray-500;
	color: $white;
	max-width: 340px;
	@include media-breakpoint-up(lg) {
	    float: right;
	    padding: rem(47px 47px 67px 47px);
	}
	@include media-breakpoint-down(md) {
	    padding: rem(40px 15px 50px 15px);
	}
	@include media-breakpoint-down(sm) {
	    margin:  auto;
	}
	h2{
	    text-align: center;
	    text-transform: uppercase;
	}
	p{
	    text-align: center;
	    font-weight: 300;
	}
	.form-control{
	    border-color: #fff;
	}
	.custom-control-description{
	    font-size: rem(13px);
	    font-weight: 300;
	}
    }
    .slogan{
	color: $white;
	@include media-breakpoint-down(sm) {
	    text-align: center;
	}
	h1{
	    font-weight: 300;
	    line-height: 1;
	    font-size: rem(63px);
	    @include media-breakpoint-down(sm) {
		font-size: rem(40px);
	    }
	}
	p{
	    font-size: rem(17px);
	    font-style: italic;
	}
    }
}
/*Content*/
.main-content{
    .btn-primary{
	border-radius: 5px;
    }
    padding-bottom: rem(20px);
    > .row{
	margin-right: -12px;
	margin-left: -12px;
    }
    .left-sidebar,
    .primary,
    .right-sidebar{
	margin-top: 25px;
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-left: 12px;
	padding-right: 12px;
    }
    .left-sidebar{
	@include media-breakpoint-up(lg) {
	    flex: 0 0 22%;
	    max-width: 22%;
	}
    }
    .primary{
	@include media-breakpoint-up(lg) {
	    flex: 0 0 50%;
	    max-width: 50%;
	}
    }
    .right-sidebar{
	@include media-breakpoint-up(lg) {
	    flex: 0 0 28%;
	    max-width: 28%;
	}
    }

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	color: $gray-300;
	a{
	    color: $gray-300;
	    @include hover-focus {
		color: darken($gray-300, 15%);
	    }
	}
    }
    .badge{
	border-radius: 5px;
    }
    .user-info{
	text-align: center;
	margin-bottom: 2rem;
	.avatar{
	    border-radius: 50%;
	    border: 3px solid $white;
	    margin-bottom: rem(20px);
	}
	.description{
	    font-style: italic;
	}
    }
    .connections{
	margin-bottom: 2rem;
    }
    .connected{
	display: flex;
	padding: rem(13px);
	& + .connected{
	    border-top: 1px solid #c2ccd3;
	}
	.name{
	    position: relative;
	    padding-right: 20px;
	    .btn{
		position: absolute;
		top: 0;
		right: 0;
		padding: 0;
	    }
	}
	.avatar{
	    flex: 0 0 55px;
	}
	.decr{
	    margin-bottom: 0;
	    font-style: italic;
	    font-size: 12px;
	}
    }
    .user-nav{
	flex-direction: column;
	li{
	    padding: 8px;
	    border: 1px solid transparent;
	    a{
		color: $gray-300;
		display: inline-block;
		width: 100%;
		i{
		    width: 22px;
		    height: 22px;
		    background-color: #a0a0a0;
		    display: inline-block;
		    color: $white;
		    text-align: center;
		    margin-right: 10px;
		}
	    }
	    &:hover,
		&.active{
		background-color: #f6f7f9;
		border-color: #dddfe2;
	    }
	}
    }
    .avatar{
	img{
	    border-radius: 50%;
	}
    }
    .article{
	background-color: $white;
	padding: rem(14px 14px 0 14px);
	margin-bottom: rem(20px);
	.header{
	    display: flex;
	    justify-content: space-between;
	    margin-bottom: 1rem;
	    .author{
		flex-basis: 80%;
		.avatar{
		    float: left;
		    margin-right: 14px;
		}
		h4{
		    margin-top: 5px;
		}
	    }
	    .decr{
		margin-bottom: 0;
		font-style: italic;
		font-size: 12px;
	    }
	    .published{
		margin-top: 5px;
	    }
	}
	.meta{
	    a{
		color: $gray-600;
		@include hover-focus {
		    color: darken($gray-600, 15%);
		}
	    }
	    .sep{
		margin: rem(0 5px);
	    }
	    padding: rem(8px 0);
	    .share-links{
		@include media-breakpoint-up(md) {
		    justify-content: flex-end;
		}
		li{
		    margin-left: 10px;
		    &:first-child{
			margin-left: 0;
		    }
		}
	    }
	}
	.write-comment{
	    padding: rem(11px 14px 15px);
	    margin: rem(0 -14px);
	    border-top: 1px solid #dcdbdb;
	    display: flex;
	    align-items: center;
	    .avatar{
		flex: 0 0 60px;
	    }
	    .input-wrp{
		width: 100%;
		border: 1px solid #ccc;
		.form-control{
		    border-color: transparent;
		}
		.btn-link{
		    padding-left: 3px;
		    padding-right: 3px;
		    color: #c2ccd3;
		}
	    }
	}
    }
    .widget-title{
	margin-bottom: 15px;
    }
    .article-preview{
	border-top: 1px solid #c2ccd3;
	padding-top: 8px;
	.avatar{
	    img{
		border-radius: 50%;
		border: 1px solid $white;
	    }
	}
	.header{
	    display: flex;
	    justify-content: space-between;
	    margin-bottom: 1rem;
	    .author{
		flex-basis: 70%;
		.avatar{
		    float: left;
		    margin-right: 14px;
		}
		h4{
		    margin-top: 5px;
		}
	    }
	    .decr{
		margin-bottom: 0;
		font-size: 12px;
		color: $gray-900;
	    }
	    .published{
		margin-top: 5px;
		font-size: 12px;
		color: $gray-900;
	    }
	}
	.content{
	    font-size: 13px;
	    .title{
		font-size: 1em;
		font-weight: 600;
	    }
	}
    }
    .content-header{
	margin-bottom: rem(20px);
	background-color: $white;
	.actions{
	    background-color: #dadfe3;
	    align-items: center;
	    justify-content: space-between;
	    padding: rem(5px 13px);
	    li{
		margin-bottom: 5px;
	    }
	    a:not(.btn){
		color: $gray-300;
		@include hover-focus {
		    color: darken($gray-300, 15%);
		}
	    }
	    .btn{
		border-radius: 5px;
	    }
	}
	.user{
	    padding: rem(11px 14px 0);
	    .avatar{
		float: left;
		margin-right: rem(15px);
	    }
	    h4{
		margin-top: 5px;
	    }
	    .decr{
		font-size: 12px;
		color: $gray-900;
	    }
	}
	.status-content:hover{
	    cursor: pointer;
	}
	.status-input,
	.status-content{
	    padding: rem(5px 14px);
	    font-style: italic;
	}
    }
}
/* Footer */

.dn-footer{
    border-top: 1px solid $white;
    .nav-link{
	color: $white;
	@include hover-focus {
	    color: darken($white, 15%);
	}
    }
    .top{
	background-color: $gray-800;
	padding: rem(28px 0);
	.footer-menu{
	    justify-content: center;
	    .nav-item{
		position: relative;
	    }
	    @include media-breakpoint-up(md) {
		.nav-item + .nav-item{
		    .nav-link:after{
			content: '';
			height: 14px;
			width: 1px;
			background-color: $white;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		    }
		}
	    }
	}
    }
    .bottom{
	background-color: $bottom-footer-color;
	font-size: 12px;
	color: $white;
	.bottom-menu{
	    padding: 3px 0;
	    @include media-breakpoint-down(lg) {
		justify-content: center;
	    }
	    .nav-item:first-child{
		.nav-link{
		    padding-left: 0;
		}
	    }
	}
	.copyright{
	    align-self: center;
	    text-align: right;
	    @include media-breakpoint-down(lg) {
		text-align: center;
		margin-bottom: 15px;
	    }
	}
    }
}

@media (max-width:374px){
    html{
	font-size: 12px;
    }
    .container{
	padding-right: 10px;
	padding-left: 10px;
    }
}