@charset "UTF-8";

@font-face {
    font-family: 'dn-icons';
    src: url('./fonts/dn-icons.eot?26680237');
    src: url('./fonts/dn-icons.eot?26680237#iefix') format('embedded-opentype'),
	url('./fonts/dn-icons.woff2?26680237') format('woff2'),
	url('./fonts/dn-icons.woff?26680237') format('woff'),
	url('./fonts/dn-icons.ttf?26680237') format('truetype'),
	url('./fonts/dn-icons.svg?26680237#dn-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'dn-icons';
    src: url('../fonts/dn-icons.svg?26680237#dn-icons') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "dn-icons";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-down-big:before { content: '\2193'; } /* '↓' */
.icon-calendar:before { content: '\e02b'; } /* '' */
.icon-doc-text:before { content: '\e05e'; } /* '' */
.icon-videocam:before { content: '\e09b'; } /* '' */
.icon-code:before { content: '\e714'; } /* '' */
.icon-publish:before { content: '\e74d'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-newspaper:before { content: '\f4f0'; } /* '' */
.icon-picture:before { content: '🌄'; } /* '\1f304' */
.icon-book-open:before { content: '📖'; } /* '\1f4d6' */
.icon-camera:before { content: '📷'; } /* '\1f4f7' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */