﻿
<header class="site-header home">
    <div class="container">
        <div class="row">
            <div class="col-xl-7  col-lg-6 left">
                <div class="logo">
                    <a href="/"><strong>Developer</strong>Network</a>
                </div>
                <div class="description">For a better working lige</div>
            </div>
            <div class="col-xl-5 col-lg-6 right">
                <login></login>
            </div>
        </div>
    </div>
</header>
<section class="login-screen">
    <div class="container">
        <div class="row">
            <div class="col-md-7 slogan">
                <h1>Success is best when shared with others</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam
                    aliquet nisl ac ultrices. Nam vulputate hendrerit malesuada.
                </p>
            </div>
            <signup></signup>
        </div>
    </div>
</section>
<footer class="dn-footer">
    <div class="top">
        <div class="container">
            <ul class="nav footer-menu">
                <li class="nav-item"><a href="#" class="nav-link">Sign Up</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Help Center</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                <li class="nav-item"><a href="#" class="nav-link">News</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Careers</a></li>
                <li class="nav-item"><a href="/home-page.html" class="nav-link">Developers</a></li>
            </ul>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <ul class="nav bottom-menu">
                        <li class="nav-item"><a href="#" class="nav-link">User Agreement</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Privacy Policy</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Community Guidelines</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Cookie Policy</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Copyright Policy</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Language</a></li>
                    </ul>
                </div>
                <div class="copyright col-lg-3"><strong>Developer</strong>Network © 2017</div>
            </div>
        </div>
    </div>
</footer>