﻿<section class="main-content container">
    <div class="row">
        <div class="left-sidebar">
            <div class="user-info">
                <a href="#"><img src="../styles/images/User-info.png" alt="Dmitri Shilko" class="avatar"></a>
                <h3><a href="#">{{appContext.userDetails.firstName}} {{appContext.userDetails.lastName}}</a></h3>
                <p class="description">Chief Developer WWF Team</p>
                <p><a href="javascript:void()" (click)="logout()">Log out</a></p>
            </div>
            <div class="connections">
                <p><span class="badge badge-primary">8 Connections</span></p>
                <div class="connected">
                    <div class="avatar">
                        <a href="#"><img src="../styles/images/avatar-49x49.png" alt="John Doe"></a>
                    </div>
                    <div class="info">
                        <h4 class="name">
                            <a href="#">John Doe</a>
                            <button class="btn btn-link"><i class="icon-ellipsis"></i></button>
                        </h4>
                        <p class="decr">Chief Developer WWF Team</p>
                    </div>
                </div>
                <div class="connected">
                    <div class="avatar">
                        <a href="#"><img src="../styles/images/avatar-49x49.png" alt="John Doe"></a>
                    </div>
                    <div class="info">
                        <h4 class="name">
                            <a href="#">John Doe</a>
                            <button class="btn btn-link"><i class="icon-ellipsis"></i></button>
                        </h4>
                        <p class="decr">Chief Developer WWF Team</p>
                    </div>
                </div>
                <div class="connected">
                    <div class="avatar">
                        <a href="#"><img src="../styles/images/avatar-49x49.png" alt="John Doe"></a>
                    </div>
                    <div class="info">
                        <h4 class="name">
                            <a href="#">John Doe</a>
                            <button class="btn btn-link"><i class="icon-ellipsis"></i></button>
                        </h4>
                        <p class="decr">Chief Developer WWF Team</p>
                    </div>
                </div>
                <div class="connected">
                    <div class="avatar">
                        <a href="#"><img src="../styles/images/avatar-49x49.png" alt="John Doe"></a>
                    </div>
                    <div class="info">
                        <h4 class="name">
                            <a href="#">John Doe</a>
                            <button class="btn btn-link"><i class="icon-ellipsis"></i></button>
                        </h4>
                        <p class="decr">Chief Developer WWF Team</p>
                    </div>
                </div>
                <div class="connected">
                    <div class="avatar">
                        <a href="#"><img src="../styles/images/avatar-49x49.png" alt="John Doe"></a>
                    </div>
                    <div class="info">
                        <h4 class="name">
                            <a href="#">John Doe</a>
                            <button class="btn btn-link"><i class="icon-ellipsis"></i></button>
                        </h4>
                        <p class="decr">Chief Developer WWF Team</p>
                    </div>
                </div>
                <div class="connected">
                    <div class="avatar">
                        <a href="#"><img src="../styles/images/avatar-49x49.png" alt="John Doe"></a>
                    </div>
                    <div class="info">
                        <h4 class="name">
                            <a href="#">John Doe</a>
                            <button class="btn btn-link"><i class="icon-ellipsis"></i></button>
                        </h4>
                        <p class="decr">Chief Developer WWF Team</p>
                    </div>
                </div>
                <div class="connected">
                    <div class="avatar">
                        <a href="#"><img src="../styles/images/avatar-49x49.png" alt="John Doe"></a>
                    </div>
                    <div class="info">
                        <h4 class="name">
                            <a href="#">John Doe</a>
                            <button class="btn btn-link"><i class="icon-ellipsis"></i></button>
                        </h4>
                        <p class="decr">Chief Developer WWF Team</p>
                    </div>
                </div>
                <p>
                    <button class="btn btn-sm btn-primary">View All</button>
                </p>
            </div>
            <ul class="nav user-nav">
                <li><a href="#"><i class="icon-newspaper"></i> News feed</a></li>
                <li><a href="#"><i class="icon-calendar"></i> Events</a></li>
                <li class="active"><a href="#"><i class="icon-book-open"></i> Articles</a></li>
                <li><a href="#"><i class="icon-doc-text"></i> Blogs</a></li>
                <li><a href="#"><i class="icon-users"></i> Groups</a></li>
            </ul>
        </div>
        <div class="primary">
            <div class="content-header">
                <ul class="nav actions">
                    <li><a href="#"><i class="icon-spin3"></i> Share session</a></li>
                    <li class="sep">|</li>
                    <li><a href="#"><i class="icon-publish"></i> Publish an article</a></li>
                    <li class="sep">|</li>
                    <li><a href="#"><i class="icon-picture"></i> Photo/Video</a></li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownPublic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Public
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownPublic">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </li>
                    <li><a href="#" class="btn btn-primary">Post</a></li>
                </ul>
                <div class="user">
                    <div class="avatar">
                        <a href="#"><img src="../styles/images/avatar-50x50.png" alt="John Doe"></a>
                    </div>
                    <h4><a href="#">Dmitri Shilko</a></h4>
                    <p class="decr">Highly skilled WordPress/Bootstrap/PHP/HTML5/CSS3, jQuery, Javascript</p>
                </div>
                <div class="status-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="status-input" style="display: none;">
                    <div class="form-group">
                        <textarea class="form-control" id="statusArea" rows="2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</textarea>
                    </div>
                    <div class="form-group text-right">
                        <button id="saveStatus" type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
            <article class="article">
                <div class="header">
                    <div class="author">
                        <div class="avatar">
                            <a href="#"><img src="../styles/images/avatar-50x50.png" alt="John Doe"></a>
                        </div>
                        <h4><a href="#">John Doe</a></h4>
                        <p class="decr">Chief Developer WWF Team</p>
                    </div>
                    <div class="published">12 hours ago</div>
                </div>
                <div class="content">
                    <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ligula eros, pharetra et rutrum a, pulvinar et velit. Aenean sollicitudin odio a metus ultrices, in accumsan leo blandit. Suspendisse ut venenatis quam. </p>
                    <a href="#"><img src="../styles/images/article-content.jpg" alt="article" class="img-fluid"></a>
                </div>
                <div class="meta">
                    <div class="row">
                        <div class="col-md-5">
                            <ul class="nav">
                                <li><a href="#">2,258 Likes</a></li>
                                <li class="sep">|</li>
                                <li><a href="#">401 Comments</a></li>
                            </ul>
                        </div>
                        <div class="col-md-7">
                            <ul class="nav share-links">
                                <li><a href="#"><i class="icon-thumbs-up-alt"></i> Like</a></li>
                                <li><a href="#"><i class="icon-commenting"></i> Comment</a></li>
                                <li><a href="#"><i class="icon-reply-all"></i> Share</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="write-comment">
                    <div class="avatar">
                        <img src="../styles/images/avatar-50x50.png" alt="John Doe">
                    </div>
                    <div class="input-wrp">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Write a comment">
                            <span class="input-group-btn">
                                <button class="btn btn-link" type="button"><i class="icon-smile"></i></button>
                                <button class="btn btn-link" type="button"><i class="icon-camera"></i></button>
                                <button class="btn btn-link" type="button"><i class="icon-code"></i></button>
                                <button class="btn btn-link" type="button"><i class="icon-videocam"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </article>
            <article class="article">
                <div class="header">
                    <div class="author">
                        <div class="avatar">
                            <a href="#"><img src="../styles/images/avatar-50x50.png" alt="John Doe"></a>
                        </div>
                        <h4><a href="#">John Doe</a></h4>
                        <p class="decr">Chief Developer WWF Team</p>
                    </div>
                    <div class="published">12 hours ago</div>
                </div>
                <div class="content">
                    <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ligula eros, pharetra et rutrum a, pulvinar et velit. Aenean sollicitudin odio a metus ultrices, in accumsan leo blandit. Suspendisse ut venenatis quam. </p>
                    <a href="#"><img src="../styles/images/article-content.jpg" alt="article" class="img-fluid"></a>
                </div>
                <div class="meta">
                    <div class="row">
                        <div class="col-md-5">
                            <ul class="nav">
                                <li><a href="#">2,258 Likes</a></li>
                                <li class="sep">|</li>
                                <li><a href="#">401 Comments</a></li>
                            </ul>
                        </div>
                        <div class="col-md-7">
                            <ul class="nav share-links">
                                <li><a href="#"><i class="icon-thumbs-up-alt"></i> Like</a></li>
                                <li><a href="#"><i class="icon-commenting"></i> Comment</a></li>
                                <li><a href="#"><i class="icon-reply-all"></i> Share</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="write-comment">
                    <div class="avatar">
                        <img src="../styles/images/avatar-50x50.png" alt="John Doe">
                    </div>
                    <div class="input-wrp">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Write a comment">
                            <span class="input-group-btn">
                                <button class="btn btn-link" type="button"><i class="icon-smile"></i></button>
                                <button class="btn btn-link" type="button"><i class="icon-camera"></i></button>
                                <button class="btn btn-link" type="button"><i class="icon-code"></i></button>
                                <button class="btn btn-link" type="button"><i class="icon-videocam"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </article>
            <article class="article">
                <div class="header">
                    <div class="author">
                        <div class="avatar">
                            <a href="#"><img src="../styles/images/avatar-50x50.png" alt="John Doe"></a>
                        </div>
                        <h4><a href="#">John Doe</a></h4>
                        <p class="decr">Chief Developer WWF Team</p>
                    </div>
                    <div class="published">12 hours ago</div>
                </div>
                <div class="content">
                    <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ligula eros, pharetra et rutrum a, pulvinar et velit. Aenean sollicitudin odio a metus ultrices, in accumsan leo blandit. Suspendisse ut venenatis quam. </p>
                    <a href="#"><img src="../styles/images/article-content.jpg" alt="article" class="img-fluid"></a>
                </div>
                <div class="meta">
                    <div class="row">
                        <div class="col-md-5">
                            <ul class="nav">
                                <li><a href="#">2,258 Likes</a></li>
                                <li class="sep">|</li>
                                <li><a href="#">401 Comments</a></li>
                            </ul>
                        </div>
                        <div class="col-md-7">
                            <ul class="nav share-links">
                                <li><a href="#"><i class="icon-thumbs-up-alt"></i> Like</a></li>
                                <li><a href="#"><i class="icon-commenting"></i> Comment</a></li>
                                <li><a href="#"><i class="icon-reply-all"></i> Share</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="write-comment">
                    <div class="avatar">
                        <img src="../styles/images/avatar-50x50.png" alt="John Doe">
                    </div>
                    <div class="input-wrp">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Write a comment">
                            <span class="input-group-btn">
                                <button class="btn btn-link" type="button"><i class="icon-smile"></i></button>
                                <button class="btn btn-link" type="button"><i class="icon-camera"></i></button>
                                <button class="btn btn-link" type="button"><i class="icon-code"></i></button>
                                <button class="btn btn-link" type="button"><i class="icon-videocam"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="right-sidebar">
            <div class="trending-news">
                <h5 class="widget-title">Trending news and articles in your network</h5>
                <div class="article-preview">
                    <div class="header">
                        <div class="author">
                            <div class="avatar">
                                <a href="#"><img src="../styles/images/avatar-50x50.png" alt="John Doe"></a>
                            </div>
                            <h4><a href="#">John Doe</a></h4>
                            <p class="decr">45000 readers</p>
                        </div>
                        <div class="published">12 hours ago</div>
                    </div>
                    <div class="content">
                        <h4 class="title"><a href="#">Lorem ipsum dolor sit amet</a></h4>
                        <p>Quisque eget dui quis urna blandit placerat. Integer convallis arcu imperdiet tortor auctoret mollis...</p>
                    </div>
                </div>
                <div class="article-preview">
                    <div class="header">
                        <div class="author">
                            <div class="avatar">
                                <a href="#"><img src="../styles/images/avatar-50x50.png" alt="John Doe"></a>
                            </div>
                            <h4><a href="#">John Doe</a></h4>
                            <p class="decr">45000 readers</p>
                        </div>
                        <div class="published">12 hours ago</div>
                    </div>
                    <div class="content">
                        <h4 class="title"><a href="#">Lorem ipsum dolor sit amet</a></h4>
                        <p>Quisque eget dui quis urna blandit placerat. Integer convallis arcu imperdiet tortor auctoret mollis...</p>
                    </div>
                </div>
                <div class="article-preview">
                    <div class="header">
                        <div class="author">
                            <div class="avatar">
                                <a href="#"><img src="../styles/images/avatar-50x50.png" alt="John Doe"></a>
                            </div>
                            <h4><a href="#">John Doe</a></h4>
                            <p class="decr">45000 readers</p>
                        </div>
                        <div class="published">12 hours ago</div>
                    </div>
                    <div class="content">
                        <h4 class="title"><a href="#">Lorem ipsum dolor sit amet</a></h4>
                        <p>Quisque eget dui quis urna blandit placerat. Integer convallis arcu imperdiet tortor auctoret mollis...</p>
                    </div>
                </div>
                <div class="article-preview">
                    <div class="header">
                        <div class="author">
                            <div class="avatar">
                                <a href="#"><img src="../styles/images/avatar-50x50.png" alt="John Doe"></a>
                            </div>
                            <h4><a href="#">John Doe</a></h4>
                            <p class="decr">45000 readers</p>
                        </div>
                        <div class="published">12 hours ago</div>
                    </div>
                    <div class="content">
                        <h4 class="title"><a href="#">Lorem ipsum dolor sit amet</a></h4>
                        <p>Quisque eget dui quis urna blandit placerat. Integer convallis arcu imperdiet tortor auctoret mollis...</p>
                    </div>
                </div>
                <div class="article-preview">
                    <div class="header">
                        <div class="author">
                            <div class="avatar">
                                <a href="#"><img src="../styles/images/avatar-50x50.png" alt="John Doe"></a>
                            </div>
                            <h4><a href="#">John Doe</a></h4>
                            <p class="decr">45000 readers</p>
                        </div>
                        <div class="published">12 hours ago</div>
                    </div>
                    <div class="content">
                        <h4 class="title"><a href="#">Lorem ipsum dolor sit amet</a></h4>
                        <p>Quisque eget dui quis urna blandit placerat. Integer convallis arcu imperdiet tortor auctoret mollis...</p>
                    </div>
                </div>
                <div class="article-preview">
                    <div class="header">
                        <div class="author">
                            <div class="avatar">
                                <a href="#"><img src="../styles/images/avatar-50x50.png" alt="John Doe"></a>
                            </div>
                            <h4><a href="#">John Doe</a></h4>
                            <p class="decr">45000 readers</p>
                        </div>
                        <div class="published">12 hours ago</div>
                    </div>
                    <div class="content">
                        <h4 class="title"><a href="#">Lorem ipsum dolor sit amet</a></h4>
                        <p>Quisque eget dui quis urna blandit placerat. Integer convallis arcu imperdiet tortor auctoret mollis...</p>
                    </div>
                </div>
                <p><a href="#" class="text-dark">Show more<i class="icon-down-big"></i></a></p>
            </div>
        </div>
    </div>
</section>
<div class="live-chart text-right">
    <button class="btn btn-dark btn-lg">Live Chat</button>
</div>