@{
    ViewData["Title"] = "Home Page";
}

<app>Loading...</app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
<script type="text/javascript">
        var appSettings = {
            isAuthenticated: @(User.Identity.IsAuthenticated ? "true" : "false"),
            userName: "@User.Identity.Name",
            baseUrl: "@ViewBag.BaseUrl",
            firstName: "@ViewBag.FirstName",
            lastName: "@ViewBag.LastName"
        }
</script>
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
