﻿<form method="POST" (ngSubmit)="onSubmit()" #myForm="ngForm">
    <div class="form-row">
        <div class="form-group col-md-5">
            <input type="email" class="form-control w-border" placeholder="E-mail" name="email" required [(ngModel)]="model.userName">
        </div>
        <div class="form-group col-md-5">
            <input type="password" class="form-control w-border" placeholder="Password" name="password" required [(ngModel)]="model.password">
        </div>
        <div class="form-group col-md-2">
            <button type="submit" class="btn btn-block btn-dark w-border" [disabled]="submitted || !myForm.valid">LOG IN</button>
        </div>
        <div class="col-md-5 col-6">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="rememberMe" [(ngModel)]="model.rememberMe">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Remember Me</span>
            </label>
        </div>
        <div class="col-md-5 col-6"><a href="#">Forgot your password</a></div>
    </div>
</form>