﻿<div class="col-md-5 register-form">
    <div class="form-wrp">
        <h2>Register now</h2>
        <p>It`s free and will not take more<br> than two minutes!</p>
        <form id="signupForm" method="POST" (ngSubmit)="onSubmit()" #myForm="ngForm">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="First name" [(ngModel)]="model.firstName" name="firstName" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Last name" [(ngModel)]="model.lastName" name="lastName" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="email" placeholder="E-mail" [(ngModel)]="model.email" name="email" required email>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" placeholder="Password" [(ngModel)]="model.password" name="password" required>
            </div>
            <div class="form-group">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="privacyPolicy" (click)="acceptPolicy()" name="privacyPolicy">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">
                        I accept the “Privacy Policy” and the
                        “General Terms of Use”.
                    </span>
                </label>
            </div>
            <input type="submit" class="btn btn-lg btn-block btn-primary w-border" [disabled]="!privacyPolicy || submitted || !myForm.valid" value="Create my new account" />
        </form>
    </div>
</div>