﻿Hello User,
<br /> <br />
Please reset your password by clicking here: <a href='@Model.ResetUrl'>link</a>.
<br /><br /> 
If you did not send this request, please ignore it.
<br /> <br />
Sincerely,<br />
The Map Builder team