﻿Hello User,
<br /> <br />

Account was created on site <a href="themapbuilder.com">TheMapBuilder</a>. Here is <a href="@Model.LoginUrl">link</a> to login to your account.
<br /><br />
Here is credentionals:<br />
Login: @Model.Login  <br />
Password: @Model.Password
<br /><br />
You can reset your password <a href="@Model.ResetUrl">here</a>.
<br /> <br />

Sincerely,<br />
The Map Builder team
